@font-face {
    font-family: "DidactGothic";
    src:
            local("DidactGothic-Regular"),
            url("/DidactGothic-Regular.woff2") format('woff2'),
}

@font-face {
    font-family: "MontBlancl";
    src:
            local("MontBlancl-Bold"),
            url("/MontBlancl-Bold.ttf") format("truetype"),
}


