.vacancy {
  margin-bottom: 100px;
  position: relative;
}

.vacancy h2 {
  font-size: 50px;
  margin: 0 auto;
  text-align: center;

  opacity: 0;
}

.vacancy-subtitle {
  text-align: center;
  margin-bottom: 50px;

  opacity: 0;
}

.vacancy-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: 500px;
  gap: 35px;
  color: white;
}

.vacancy-list > li {
  //padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  height: 370px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
  color: black;
  text-align: center;

  opacity: 0;
}

.vacancy-info-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 370px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
  color: black;
  text-align: center;
  //opacity: 0;
}

.swiper-container-vacancy {
  display: none !important;
}

.vacancy-info-slider > img {
  width: 200px;
}

.vacancy-list > li:hover {
  transform: scale(1.02);
}

.vacancy-list > li:nth-child(1) {
  background-image: url("/vacancy/11.png");
}

.vacancy-list > li:nth-child(2) {
  background-image: url("/vacancy/22.png");
}

.vacancy-list > li:nth-child(3) {
  background-image: url("/vacancy/33.png");
}

.vacancy-list > li:nth-child(4) {
  background-image: url("/vacancy/44.png");
}

.vacancy-list > li:nth-child(5) {
  background-image: url("/vacancy/55.png");
}

.vacancy-list > li:nth-child(6) {
  background-image: url("/vacancy/66.png");
}

.vacancy-list > li:nth-child(7) {
  background-image: url("/vacancy/77.png");
}

.vacancy-list > li:nth-child(8) {
  background-image: url("/vacancy/88.png");
}

.vacancy-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vacancy-info h3 {
  font-size: 36px;
}

.vacancy-info p {
  margin-bottom: 35px;
}


.vacancy-info button, .vacancy-info-slider button {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  padding: 5px 30px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.vacancy-info-slider button {
  width: 60%;
}

.all-vacancy {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

.swiper-vacancy-buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 51;
}

.swiper-vacancy-buttons svg {
  filter: invert(1);
}

.swiper-button-prev2, .swiper-button-next2 {
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--blue);
}

.swiper-button-prev2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(180deg);
}

.swiper-button-next2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 580px){
  .swiper-container-vacancy {
    display: block !important;
  }

  .vacancy-list {
    display: none !important;
  }

  .vacancy-info-slider {
    height: initial;
  }
}